.cocktails-container {
    height: calc(100% - 5em);
    margin: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 2em;
    border-radius: 2em;
    background-color: var(--background-primary);
    box-shadow: 0 5px 5px 0 var(--shadow-color);
    animation: fade-in-mg-2 1s;
}

.cocktails-container h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.cocktail-list {
    margin-bottom: 2em;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1.5em;
    align-items: center;
}

.cocktail-list.large-list {
    overflow-y: scroll;
}

nav:not(.open) + * .cocktail-list {
    grid-template-columns: repeat(6, 1fr);
}