.cocktail-card {
    width: 15em;
    height: 22em;
    background-color: var(--background-secondary);
    border-radius: 1em;
}

.cocktail-card:hover {
    box-shadow: 0 5px 5px 0 var(--shadow-color);
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .cocktail-image {
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-accent);
    border-radius: 1em 1em 0 0;
}

.card .cocktail-image img {
    object-fit: cover;
}

.card .cocktail-image *:not(img) {
    width: 10em;
    height: 10em;
}

.card .card-body {
    padding: 0.5em 0.75em;
    height: 7em;
}

.card .card-body span {
    font-size: 0.9em;
}

.card-footer {
    height: 0.9em;
    margin-top: 1em;
    padding: 0 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer span {
    color: var(--foreground-primary);
    font-size: 0.85em;
    font-weight: 600;
}

.view-more {
    font-size: 0.8em;
    color: var(--foreground-accent);
}

.view-more:hover {
    color: var(--foreground-secondary);
}

.cocktail-card .icons {
    position: relative;
    top: -22em;
    right: -13em;
    width: 2em;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cocktail-card .icons * {
    width: 1.75em;
    height: 1.75em;
    margin-top: 0.25em;
}